// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

hr {
  border-width: 1px;
  border-color: $gray-300;
  margin: 15px 0;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.btn-wrap {

  .btn-mar {
    margin-top: 15px;
  }
}

input[type="radio"], input[type="checkbox"] {
  margin-top: 15px;
}

.col-half-padd-right {
  padding-right: 7.5px;
}

.col-half-padd-left {
  padding-left: 7.5px;
}

.mar-top-bot {
  margin: 15px 0;
}

input[type="file"] {
  &.input-display {
    display: none;
  }
}

.file-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mar-top {
  margin-top: 15px;
}

.btn-profile-wrapper {
  height: 100px;
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  .btn-upload-profile {
    opacity: 0;
    color: #fff;
    border: 0px;
    border-radius: 0;
    height: 114px;
    padding: 0 44px;
    border-radius: 50%;
    background-color: rgba(2, 2, 2, 0.5);
    transition: all 0.3s ease-in-out;
    .icon-profile-upload {
      font-size: 24px;
    }
    &:hover, &:focus {
      color: $white;
      background-color: $default;
      box-shadow: none;
      opacity: 0.8;
    }
  }
}

.input-mar {
  margin-top: 10px;
}

#btn-editpro-display {
  display: none;
}

#role-select {
  display: none;
}

#btn-update-profile-readonly {
  display: none;
}

@media (max-width: 950px) {
  body {
    overflow-x: hidden;
  }
}